.text-teal{
    color:#32c5d2 !important;
}
.bg-teal{
    background-color:#32c5d2 !important;
}
.border-teal {
    border: 1px solid #32c5d2 !important;
}
.text-darkgrey{
    color:#69727c !important;
}
.bg-darkgrey{
    background-color:#69727c !important;
}
.bg-lightgrey{
    background-color: #fffbfb !important;
}
.bg-white{
    background: #ffffff;
}
.header{
    background: #ffffff;
    border-bottom: 1px solid #e6eff3;
    box-shadow: none;
}
.navbar a:hover{
    color:#32c5d2 !important;
    transition: 0.3s;
}
.navbar a.nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
}
.dropdown .show a{
    color: #fff !important;
    background-color:#69727c;
}
.dropdown .show a:hover {
    color:#32c5d2 !important;
    background-color:#fff;
    transition: 0.3s;
}
.form-title, .table-title{
    color: #fff !important;
    background-color: #32c5d2;
}
.border{
    border:1px solid #343a40 !important;
}
.btn-teal{
    border: 1px solid #32c5d2 !important;
    color: #32c5d2 !important;
}
.btn-teal:hover{
    background-color: #32c5d2 !important;
    color: #fff !important;
    transition: 0.5s;
}
.form-group input:hover,.search-bar input:hover,select:hover{
    border: 1px solid #32c5d2;
    transition: 0.5s;
}
.fade-text .tool-text {
    position: absolute;
    background-color: #ffffff;
    width: 46%;
    padding: 30px;
    z-index: 1;
    top: 227px;
    left: -460px;
    letter-spacing: 1px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
button.btn.btn-explore {
    background-color: #32c5d2;
    color: #fff;
    padding: 8px 7px;
    border-radius: unset;
    position: absolute;
    top: 62%;
    left: -17%;
    font-weight: 700;
    font-size: 18px;
}
.text-account{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #69727c;
}
.model-title{
    font-size: 30px;
    font-weight: bold;
}
.modal-footer .btn-teal {
    border: 1px solid #32c5d2 !important;
    color: #32c5d2 !important;
    padding: 12px 54px !important;
    transition: 0.5s;
    border-radius: unset;
    font-size: 20px !important;
}
.modal-footer .btn-teal:hover{
    background-color: #32c5d2 !important;
    color: #fff !important;
    padding: 12px 54px !important;
    transition: 0.5s;
    border-radius: unset;
    font-size: 20px !important;
}
.carousel-item img{
    height: fit-content;
}
.carousel-item img{
    height: fit-content;
}
button.edit-btn, button.delete-btn {
    color: #fff !important;
    background-color: #32c5d2;
    border: none;
    padding: 6px 8px;
}
.navbar-text img {
    max-height:30px;
    width:auto;
    vertical-align:middle;
}
.border-teal{
    border: 1px solid #32c5d2 !important;

}
.modal.show .modal-dialog {
    top: 20%;
}
.modal-header button.close {
    font-size: 42px;
    opacity: 1.1;
}